
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Login</title>
    <link rel="stylesheet" href="../../public/static/login/login.css" type="text/css">  
</head>

    <body>
    <div class="login-box">
    <img src="../../public/static/login/img/avatar.png" class="avatar">
        <h1>Login</h1>
            <form action="auth" method="post">
            <p>Usuário</p>
            <input type="text" name="username" placeholder="Insira o usuário" required>
            <p>Senha</p>
            <input type="password" name="password" placeholder="Insira a senha" required>
            <input type="submit" name="submit" value="Login">
            <a href="#">Forget Password</a>    
            </form>
        </div>
    </body>
</html> 